<!DOCTYPE html>
	
	<html>
		
		<head>
			
			<title>CSS playground</title>
			
			<link rel="stylesheet" type"text/css" href="../css/main.CSS">
	
		</head>

		<body>
			
			<div class = "nav">
				<ul>
					<li><a class="default" href="../index.html">Home</a></li>
					<li><a href="html-playground.html">HTML</a></li>
					<li><a href="css-playground.html">CSS</a></li>
					<li><a href="bootstrap-playground.html">Bootstrap</a></li>
					<li><a href="javascript-playground.html">JavaScript</a></li>
					<li><a href="jquery-playground.html">jQuery</a></li>
					<li><a href="git-playground.html">Git</a></li>
					<li><a href="resources-playground.html">Resources</a></li>
				</ul>
			</div>
			
			<h1>CSS Items</h1>
			
			<div class = "border2">
			
				<h3>Uses</h3>
				
				<ul>
					<li>To give the appearance of your site a unique look and feel.</li>
					<li>To alter colors, fonts, backgrounds, etc.</li>
					<li>To implement some effects and animations, although it's not as powerful as jQuery/JavaScript.</li>
				</ul>
			
			</div>
			
			<hr>
			
			<div class = "border">
			
				<h3>CSS Statements</h3>
			
				<p>Four main components of CSS statement:</p>
					
				<ol>
					<li><b>Declaration:</b> The whole CSS statement in curly braces.</li>
					<li><b>Selector:</b> The name of the part you want to style.</li>
					<li><b>Property:</b> Properties to edit (e.g. width, height, background, etc.)</li>
					<li><b>Value:</b> Numbers, colors, URLs - things to give value to the property.</li>

				</ol>
			
			</div>
			
			<h3>Classes</h3>
			
			<h1 class = "alt">Hello</h1>
			
			<div class = "dog">Hello</div>

			<div id = "circle"> </div>
			<div id = "righteye"> </div>
			<div id = "lefteye"> </div>
			<div id = "mouth"> </div>
			<div id = "innerrighteye"> </div>
			<div id = "innerlefteye"> </div>
			<div id = "righteyebrow"> </div>
			<div id = "lefteyebrow"> </div>
		
		</body>

	</html>