<!DOCTYPE html>
	<html>
		
		<head>
			<title>HTML Playground</title>
			<link rel="stylesheet" type"text/css" href="../css/main.CSS">
		</head>

		<body>
			<div class = "nav">
		<ul>
			<li><a class="default" href="../index.html">Home</a></li>
			<li><a href="html-playground.html">HTML</a></li>
			<li><a href="css-playground.html">CSS</a></li>
			<li><a href="bootstrap-playground.html">Bootstrap</a></li>
			<li><a href="javascript-playground.html">JavaScript</a></li>
			<li><a href="jquery-playground.html">jQuery</a></li>
			<li><a href="git-playground.html">Git</a></li>
			<li><a href="resources-playground.html">Resources</a></li>
		</ul>
	</div>
			<h1>HTML Items</h1>
			<h2>Header tags</h2>
			<h1>h1</h1>
			<h3>h3</h3>
			<h6>h6</h6>
			
			<hr>
			<h2>Paragraph Tag</h2>
			<p>These are the tags used for basic content. Anything between the tags will be put into an organized paragraph.</p>

			<hr>
			<h2>Hyperlinks and href</h2>
			<p>Use the "a href" tag for a link. Copy and paste the URL of the link.</p>
			<a href="http:www.w3schools.com/html/html_headings.asp">w3schools resources</a>

			<hr>
			<h2>Images</h2>
			<p>Images are really easy to add. Create a folder called "img". Save images in img folder.</p>
			<p>Use the "img src" tag.</p>
			<img src="../img/Lambo2.jpg">

			<hr>
			<h2>Divs</h2>
			<div id="blue" style = "color:blue;border:dashed">
				<p>Hello</p>
			</div>
			<div id = "red" style = "color:red">
				<p>This is red</p>
			</div>
			<div id = "back" style = "background:red" 
				<br>
				<br>
			</div>
		
		</body>

	</html>