<!DOCTYPE html>
	<html>
		
		<head>
			<title>JavaScript playground</title>
			<link rel="stylesheet" type"text/css" href="../css/main.CSS">
			<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
		</head>

		<body>
			<div class = "nav">
		<ul>
			<li><a class="default" href="../index.html">Home</a></li>
			<li><a href="html-playground.html">HTML</a></li>
			<li><a href="css-playground.html">CSS</a></li>
			<li><a href="bootstrap-playground.html">Bootstrap</a></li>
			<li><a href="javascript-playground.html">JavaScript</a></li>
			<li><a href="jquery-playground.html">jQuery</a></li>
			<li><a href="git-playground.html">Git</a></li>
			<li><a href="resources-playground.html">Resources</a></li>
		</ul>
	</div>
			<h1>JavaScript Items</h1>

			<div id = "text">
			<h2>Age</h2>
			<p>I am <a id="my-age"></a> years old.</p>
			<p>I was born in <a id = "my-birth-year"></a>.</p>
			<p>I will graduate in <a id = "graduation-year"></a>.</p>
			<p>I have <a id = "number-of-brothers-and-sisters"></a> brothers and sisters.</p>
			<p>I have <a id = "number-of-kids"></a> kids.</p>
			

			<hr>
			<h2>Music Interests</h2>
			<button onclick="drums()">Least favorite genre.</button>
			<p id="demo"></p>

			<hr>
			<button onclick="birthday()">Best song of all time.</button>
			<p id="demo2"></p>
			
			<hr>
			<button onclick="canyon()">Favorite band.</button>
			<p id="demo3"></p>



			</div>

			<script src="../JS/scripts.js"></script>


		</body>

	</html>